# Compiled CP/M executables
*.com
*.COM

# Object files
*.o

# Build artifacts
*.bin
*.lst
*.ihx
*.hex
*.map

# Disk images
*.img
!hd512_blank.img



# MAME ROM directory (created by E2E setup when run inside Docker)
roms/

# Python bytecode cache
__pycache__/
*.pyc
